name: CI

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14' # or the version your project requires

    - name: Install Dependencies
      run: npm install

    - name: Run Tests
      run: npm test # replace with npm start if you want to check that